.list {
    background: #fcfcfc;
    /*背景色*/
    padding: 0.5em 0.5em 0.5em 2em;
    /*ボックス内の余白*/
}

.listItem {
    line-height: 1.5;
    /*文の行高*/
    padding: 0.5em 0;
    /*前後の文との余白*/
}

.table_1 {
    padding-bottom: 5px;
}

